<div id='waiting'></div>
<div id='error'></div>
<%= form_for :u2f_session, url: u2f_session_path do |f| %>
    <%= f.text_field :response, type: 'hidden' %>
<% end  %>

<script>
  var signRequests = <%= @sign_requests.to_json.html_safe %>;
  var appId = '<%= request.base_url %>';
  var challenges = <%= @challenges.to_json.html_safe %>;
  var $waiting = document.getElementById('waiting');
  var $error = document.getElementById('error');
  var errorMap = {
    1: 'Unknown error, try again',
    2: "Bad request error, try again" ,
    3: "This key isn't supported, please try another one",
    4: 'The device is not registered, please register first',
    5: 'Authentication timed out. Please reload to try again.'
  };
  var setError = function(code) {
    $waiting.style.display = 'none';
    $error.style.display = 'block';
    $error.innerHTML = errorMap[code];
  };

  u2f.sign(appId, challenges, signRequests, function(signResponse) {
    var form, response;

    if (signResponse.errorCode) {
      return setError(signResponse.errorCode);
    }

    response = document.querySelector('[name="u2f_session[response]"]');
    form = response.form;

    response.value = JSON.stringify(signResponse);

    form.submit();
  }, 15);
</script>
