<%= form_for :session, url: session_path, remote: true do |form| %>
  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>

  <div class="sign-in sign-in__social-login">
    <%= link_to '/auth/instagram', class: 'btn btn-primary' do %>
      <i class="fa fa-instagram"></i> Login with Instagram
    <% end %>
  </div>

  <div class="sign-in sign-in__u2f">
    <%= link_to 'Login with U2F', new_u2f_session_path, class: 'btn btn-primary' %>
  </div>
<% end %>
