<%= content_for :active_tab, :pendants %>

<div class="pendants">

  <div class="card mb-4">
    <div class="card-block">
      <h5 class="card-title">Total Number of Pendants</h5>
      <p class="card-text"><%= @pendants.count %></p>
      <%= link_to 'New Pendant', new_my_pendant_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#table" role="tab">Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#graphs" role="tab" onclick="Chartkick.eachChart( function(chart) { chart.redraw() })">Graphs</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content mt-1">
    <div class="tab-pane active" id="table" role="tabpanel">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Artist Name</th>
            <th>Times Worn</th>
          </tr>
          </thead>
          <tbody>
          <%= render partial: 'pendant_row', collection: @pendants, as: :pendant %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="graphs" role="tabpanel">
      <figure class="figure pendants__chart">
        <figcaption class="figure-caption">Number of Times Worn by Pendant</figcaption>
        <%= pie_chart @chart_data %>
      </figure>
    </div>
  </div>
</div>
