<%= content_for :active_tab, :pendants %>

<%= simple_form_for [:my, @pendant], url: (@pendant.persisted? ? my_pendant_path(id: @pendant) : my_pendants_path) do |f| %>

  <label for="glass_art_piece[artist_ids][]">
    Artists
  </label>
  <input type="hidden" name="glass_art_piece[artist_ids][]" value="" />
    <%= react_component('GlassySelect',
        name: 'glass_art_piece[artist_ids][]',
        placeholder: 'Who made this pendant?',
        multi: true,
        value: @pendant.artist_ids,
        options: Artist.all.map { |a| { value: a.id, label: a.name} })
    %>

    <label for="glass_art_piece[collection_id]">
      Collection
    </label>
    <%= react_component('GlassySelect',
      name: 'glass_art_piece[collection_id]',
      placeholder: 'Select Collection...',
      multi: false,
      value: @pendant.collection_id,
      options: current_user.collections.all.map { |a| { value: a.id, label: a.name} })
    %>

    <%= f.input :name %>

  <label for="glass_art_piece[colors_ids][]">
    Colors
  </label>
  <input type="hidden" name="glass_art_piece[colors_ids][]" value="" />
    <%= react_component('GlassySelect',
        name: 'glass_art_piece[color_ids][]',
        placeholder: 'What colors is this piece made of?',
        multi: true,
        value: @pendant.color_ids,
        options: Color.all.map { |a| { value: a.id, label: a.name} })
    %>

  <%= f.submit %>
<% end %>
