<%= content_for :active_tab, :pendants %>

<%= simple_form_for [:my, @pendant], remote: true do |f| %>
  <%= f.input :user_id, as: :hidden %>

  <label for="pendant[artist_ids][]">
    Artists
  </label>
  <input type="hidden" name="pendant[artist_ids][]" value="" />
    <%= react_component('GlassySelect',
        name: 'pendant[artist_ids][]',
        placeholder: 'Who made this pendant?',
        multi: true,
        value: @pendant.artist_ids,
        options: Artist.all.map { |a| { value: a.id, label: a.name} })
    %>

    <label for="pendant[collection_id]">
      Collection
    </label>
    <%= react_component('GlassySelect',
      name: 'pendant[collection_id]',
      placeholder: 'Select Collection...',
      multi: false,
      value: @pendant.collection_id,
      options: current_user.collections.all.map { |a| { value: a.id, label: a.name} })
    %>

    <%= f.input :name %>

  <%= f.submit %>
<% end %>
