<div class="dab" data-milliseconds="<%= @dab.milliseconds %>" data-created-at-time="<%= @dab.created_at.to_f %>" data-ends-at-time="<%= @dab.ends_at.to_f %>">
  <div class='seconds'>
    <%= @dab.seconds %>
  </div>
</div>

<%= link_to 'Take a Dab!', new_dab_path, class: 'take-a-dab' %>

<script>
  start_dab_timer();
</script>
