<%= simple_form_for @dab do |f| %>
  <%= f.input :user_id, as: :hidden %>
  <%= f.input :nail_id, as: :hidden %>
  <%= f.input :milliseconds, as: :hidden %>

  <div class="timer-form">
    <%= f.input :seconds %>

    <button id="start-timer" type='button'>Start Timer</button>
  </div>
  <div class="post-dab-form form-inline">
    <%= f.input :rating, as: :radio_buttons, collection: 1..5 %>

    <%= f.submit :submit %>
  </div>
<% end %>

<div class="timer">
  <span class="seconds"></span>
</div>
