
<h2 class="month">
  <%= calendar.month %> <%= calendar.year %>
</h2>
<%= link_to 'Previous Month', my_pendant_records_path(date: calendar.first_of_month-1.month), class: 'previous-link' %>
<%= link_to 'Next Month', my_pendant_records_path(date: calendar.first_of_month+1.month), class: 'next-link' %>

<div class="calendar">
  <ul class="headers">
    <li>Sunday</li>
    <li>Monday</li>
    <li>Tuesday</li>
    <li>Wednesday</li>
    <li>Thursday</li>
    <li>Friday</li>
    <li>Saturday</li>
  </ul>

  <%= render partial: 'week', collection: calendar.weeks %>
</div>
