<li class="day <%= 'disabled' if day.disabled? %>"
     data-date="<%= day.date.strftime('%Y-%m-%d') %>"
     data-weekday="<%= day.date.strftime('%A') %>"
>
  <div class="day-label">
    <%= day.date.strftime('%d') %>
    <span class="weekday">
      <%= day.date.strftime('%A') %>
    </span>
  </div>

  <div class="pendant-records <%= 'single' if day.pendant_records.count == 1 %>">
    <%= render partial: 'pendant_record', collection: day.pendant_records %>
  </div>
</li>
