<%= simple_form_for @pendant_record, url: my_pendant_records_path do |f| %>

  <div id="pendant-list">
    <input type="search" class="search" placeholder="Search" />
    <div class="list">
      <%= render partial: 'radio_button', collection: @pendants.to_a, as: :pendant %>
    </div>
    <script>
      new List('pendant-list', { plugins: [ ListFuzzySearch() ], valueNames: [{ data: ['name', 'artist-name']}]});
    </script>
  </div>

  <%= f.input :photo, as: :camera %>

  <%= f.button :submit %>
<% end %>

<%= link_to 'Fake an old one :-(', new_my_fake_pendant_record_path %>
