<%= simple_form_for @pendant_record, url: my_pendant_records_path do |f| %>

  <label for="pendant_record[pendant_id]">
    Pendant
  </label>
  <%= react_component('GlassySelect',
    name: 'pendant_record[pendant_id]',
    placeholder: 'Select Pendant...',
    multi: false,
    value: @pendant_record.pendant_id,
    options: current_user.pendants.all.map { |p| { value: p.id, label: "#{p.name} - #{p.artist_name}" } }
    )
  %>

  <%= f.input :photo, as: :camera %>

  <%= f.button :submit %>
<% end %>

<%= link_to 'Fake an old one :-(', new_my_fake_pendant_record_path %>
