<header class="header header--collapsed">
  <div class="header__brand brand">
    <div class="brand__username">
      <%= current_user&.email %>
    </div>
    <div class="brand__logo">
      <%= link_to root_path do %>
        <%= raw_asset 'penguin-logo.svg' %>
      <% end %>
    </div>
    <div class="brand__log_out">
      <% if current_user.present? %>
        <%= link_to 'Sign out', sign_out_path, method: :delete %>
      <% else %>
          <%= link_to 'Sign in', sign_in_path %>
    <% end %>
    </div>
    <div class="brand__name">
      <span class="brand__glassy brand__glassy--kaushan">
        Glassy
      </span>
      <span class="brand__collections">
        Collections
      </span>
    </div>
  </div>
  <ul class="header__nav nav">
    <li class="nav-item">
      <%= link_to 'Pendant Records', my_pendant_records_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Pendants', my_pendants_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Artists', my_artists_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'LWIP', my_last_week_in_pendants_path, class: 'nav-link' %>
    </li>
  </ul>

  <div class="header__clicky" onClick></div>
</header>
