<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="manifest" href="/assets/manifest.json">
  <meta name="theme-color" content="#6a0aab">
  <%= favicon_link_tag %>
  <!-- Android -->
  <%= favicon_link_tag 'launcher-icon-2x.png', type: 'image/png', sizes: '96x96' %>
  <%= favicon_link_tag 'launcher-icon-3x.png', type: 'image/png', sizes: '144x144' %>
  <%= favicon_link_tag 'launcher-icon-4x.png', type: 'image/png', sizes: '192x192' %>
  <!-- iOS -->
  <%= favicon_link_tag 'apple-touch-icon-2x.png', type: 'image/png', rel: 'apple-touch-icon', sizes: '96x96' %>
  <%= favicon_link_tag 'apple-touch-icon-3x.png', type: 'image/png', rel: 'apple-touch-icon', sizes: '144x144' %>
  <%= favicon_link_tag 'apple-touch-icon-4x.png', type: 'image/png', rel: 'apple-touch-icon', sizes: '192x192' %>

  <title>GlassyCollections</title>

  <!--<link href='https://fonts.googleapis.com/css?family=Pacifico|Kaushan+Script&text=GlassyLASSY' rel='stylesheet' type='text/css'>-->
  <!--<link href='https://fonts.googleapis.com/css?family=Righteous|Roboto+Slab:400,700&text=CollectionOLLECTOINS' rel='stylesheet' type='text/css'>-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'sw', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'navbar' %>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>

  <div class="PageContent">
    <div class="PageContent-content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
