<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!--<link rel="manifest" href="<%= asset_path 'manifest.json' %>">-->
  <link rel="manifest" href="/assets/manifest.json">
  <%= favicon_link_tag %>

  <title>GlassyCollections</title>

  <!-- Google Header Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Pacifico|Kaushan+Script&text=GlassyLASSY' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Righteous|Roboto+Slab:400,700&text=CollectionOLLECTOINS' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'sw', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'https://www.google.com/jsapi', 'chartkick', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'header' %>

  <div class="container-fluid page-content">
    <%= yield %>
  </div>
</body>
</html>
